<!-- updateCommandeForm.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update Commande</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">
    <h2>Update Commande</h2>

    <!-- Form for updating a commande with articles and client -->
    <form action="/commande/updateCommande/{id}" method="post" th:object="${commande}">
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="client">Client:</label>
            <select class="form-control" id="client" name="client.id" th:field="*{client.id}" required>
                <!-- Assuming you have a list of clients available in the controller model -->
                <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="articles">Articles:</label>
            <!-- Dynamic section for updating articles -->
            <div id="articleSection">
                <div class="form-row mb-2" th:each="commandeArticle, stat : *{commandeArticles}">
                    <div class="col">
                        <select class="form-control" name="commandeArticles[${stat.index}].article.id" required>
                            <!-- Assuming you have a list of articles available in the controller model -->
                            <option th:each="article : ${articles}" th:value="${article.id}" th:text="${article.name}" th:selected="${commandeArticle.article.id == article.id}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="commandeArticles[${stat.index}].quantity" placeholder="Quantity" th:value="${commandeArticle.quantity}" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" onclick="addArticle()">Add Article</button>
        </div>

        <!-- You may add input fields for other properties of the commande and its articles -->

        <button type="submit" class="btn btn-primary">Update Commande</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script th:inline="javascript">
    var articleCount = 1;

    function addArticle() {
        var newArticleRow = '' +
            '<div class="form-row mb-2">' +
            '   <div class="col">' +
            '       <select class="form-control" name="commandeArticles[' + articleCount + '].article.id" required>' +
            '           <!-- Assuming you have a list of articles available in the controller model -->' +
            '           <option th:each="article : ${articles}" th:value="${article.id}" th:text="${article.name}"></option>' +
            '       </select>' +
            '   </div>' +
            '   <div class="col">' +
            '       <input type="number" class="form-control" name="commandeArticles[' + articleCount + '].quantity" placeholder="Quantity" required>' +
            '   </div>' +
            '</div>';

        $('#articleSection').append(newArticleRow);
        articleCount++;
    }
</script>

</body>
</html>
